---
import { getEntry } from "astro:content";

const siteMeta = await getEntry("config", "site");
const footer = siteMeta?.data
---

<footer
  class="font-PP footer sm:footer-horizontal footer-center bg-base-100 text-base-content px-15"
>
  <div
    class="border-black/30 border-base-content w-full lg:max-w-6xl flex flex-col lg:flex-row items-center justify-between py-18"
  >
    <ul class="flex gap-4">
      <li class="link link-hover">
        <a href={`mailto:${footer?.email}`} title={`Email ${footer?.email}`}>
          {footer?.email}</a>
      </li></a>
      <li class="w-1 h-1 my-auto bg-base-content"></li>
      <li class="link link-hover">
        <a href={footer?.linkedinUrl} title={`Linkedin ${footer?.linkedinUrl}`}>Linkedin</a>
      </li>
    </ul>
    <p>© {footer?.author} {new Date().getFullYear()}</p>
  </div>
</footer>
