---
import ThemeController from "./ThemeController.astro";
import { getEntry } from "astro:content";

const siteMeta = await getEntry("config", "site");
const title = siteMeta?.data.title;
const menu = siteMeta?.data.navigationMain;
---

<div class="drawer">
  <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col">
    <!-- Navbar -->
    <nav
      class="fixed top-0 left-0 right-0 z-50 flex items-center justify-between"
    >
      <div
        class="navbar w-6xl max-h-2 mx-auto px-3 lg:px-12 bg-base-300/30 backdrop-blur-md mt-2 rounded-lg font-Momo text-md"
      >
        <div class="mx-2 flex-1 px-2">
          <a href="/" title={`${title}`}>
            <span class="text-xl hover:text-yellow-300 duration-300 ease-in-out">{title}</span>
          </a>
        </div>
        <div class="flex-none lg:hidden mr-3">
          <label
            for="my-drawer-2"
            aria-label="open sidebar"
            class="btn btn-square btn-ghost"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              class="inline-block h-6 w-6 stroke-current"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
          </label>
        </div>
        <div class="hidden flex itemms-center lg:block">
            <ul class="flex items-center">
              {
                menu?.map((item) => (
                  <li class="px-2 mx-2 text-lg hover:text-gray-950/30 duration-300 ease-in-out">
                    <a href={item.href} title={`Go to ${item.label}`}>
                      {item.label}
                    </a>
                  </li>
                ))
              }
            </ul>
          </ul>
        </div>
        <!-- <ThemeController /> -->
      </div>
    </nav>
    <!-- Page content here -->
    <!-- Content -->
  </div>
  <div class="drawer-side z-50">
    <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"
    ></label>
    <div
      class="flex flex-col items-center bg-base-100 py-20 my-2 w-full h-content"
    >
      <ul
        class="menu menu-vertical items-center gap-10 justify-center rounded-box"
      >
        {
          menu?.map((item) => (
            <li>
              <a href={item.href} title={`Go to ${item.label}`}>
                {item.label}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</div>
