---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import H2 from "./CustomUI/H2.astro"

interface Props {
  project: CollectionEntry<"projects">;
}

const { project } = Astro.props;
---

<div class="card w-full hover:opacity-60 transform transition-transform hover:translate-y-[2px]">
<a href={`/${project.id}`} title={project.data.title}>
  <figure class="w-full aspect-16/7 bg-base-200 rounded-2xl">
    {
      project.data.icon && (
        <div class="flex flex-row items-center gap-3">
          <Image
            src={project.data.icon}
            alt={project.data.iconTitle || project.data.title}
            title={project.data.iconTitle || project.data.title}
            width={40}
            height={40}
            class="w-12 rounded-md"
          />
          <p class="font-PP text-xl text-base-content/60">{project.data.iconTitle}</p>
        </div>
      )
    }
  </figure>
  <div class="card-body px-0 py-4 pb-8">
   <!--<p class="font-PP text-thin text-md">{project.data.iconTitle}</p>v -->
      <H2 class="font-PPMedium text-xl">
        {project.data.title}
      </H2>
    <p class="font-PPBook text-[16px] lg:w-10/12">{project.data.excerpt}</p>
    <div class="card-actions items-center mt-0">
      {project.data.tags.map((tag, index) => (
        <>
          <div class="font-PPMedium text-black/50 text-[11px] uppercase" style="letter-spacing: .8px;">{tag}</div>
          {index < project.data.tags.length - 1 && <div class="bg-base-content/70 w-1 h-1 rounded-full"/>}
        </>
      ))}
      
    </div>
  </div>
  </a>
</div>

